<!DOCTYPE html>
<html>
<head>
	<title>Posted messages</title>
</head>
<body>
	<header>
		<h1>Message Board App</h1>
	</header>
	<nav>
		<ul>
			<li><a href="/newMessage">Create message </a></li>
			<li><a href="/post">Posted messages</a></li>
		</ul>
	</nav>

</body>
</html>